body {



   /* display: flex;

    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100vh;*/
    display: grid;
    place-items: center;
    background-color: #000000;
}

#logo1{
  background-image: url(logo1.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 230px;
  height: 110px;
  position: absolute;
  left: 50%;
  top: 40px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.container{

  width: 100%;

  height: 100vh;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  height: 0px;
  width: 96%;
  bottom: 5vh;
  
  
}
nav{
  background: #FFFFFFE3;
  border-radius: 100px;
  padding: 1px;
  width: 77%;
  box-shadow: 0 5px 20px rgba(0,0,0,0.4);
  
  
  
} 

nav ul li{
  display: inline;
  list-style: none;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  color: #000000DE;
  border-radius: 100px;
  font-weight: 900;

  
}
nav ul li:after{
  content: '';
  width: 0;
  height: 3px;
  background: #7F0AFF;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
  border-radius: 100px;
}
nav ul li:hover::after{
  width:100%;
}

#btnRedirec{
  padding: 5px;
  
}

#btnRedirect{
  padding: 5px;
  
}

#btnRedire{
  padding: 5px;
  
}




::selection{
  color: #fff;
  background: #1cc7d0;
}
.wrapper{
  height: 400px;
  width: 320px;
  position: relative;
  transform-style: preserve-3d;
 perspective: 1000px;
 top: 51%;
}
.wrapper .card{
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 5px;
  background: #fff;
  border-radius: 10px;
  transform: translateY(0deg);
  transform-style: preserve-3d;
  backface-visibility: hidden;
  box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
  transition: transform 0.7s cubic-bezier(0.4,0.2,0.2,1);
}
.wrapper:hover > .front-face{
  transform: rotateY(-180deg);
}
.wrapper .card img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.wrapper .back-face{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  transform: rotateY(180deg);
}
.wrapper:hover > .back-face{
  transform: rotateY(0deg);
}
.wrapper .back-face img{
  height: 150px;
  width: 150px;
  padding: 5px;
  border-radius: 50%;
  background: linear-gradient(375deg, #1cc7d0, #2ede98);
}
.wrapper .back-face .info{
  text-align: center;
}
.back-face .info .title{
  font-size: 30px;
  font-weight: 500;
}
.back-face ul{
  display: flex;
}
.back-face ul .non{
  display: block;
  height: 40px;
  width: 40px;
  color: #fff;
  text-align: center;
  margin: 0 5px;
  line-height: 38px;
  border: 2px solid transparent;
  border-radius: 50%;
  background: linear-gradient(375deg, #1cc7d0, #2ede98);
  transition: all 0.5s ease;
}
.back-face ul a:hover{
  color: #1cc7d0;
  border-color: #1cc7d0;
  background: linear-gradient(375deg, transparent, transparent);
}

  