/* author: https://uiverse.io/htwarriors108/tasty-stingray-56
htwarriors108
HT WARRIORS */

h1{
  color: #7A00FFCF;
  text-align: center;
  
}

body {
   /* display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100vh;*/
    background-color: #232323;
}



.myCard {
    background-color: transparent;
    width: 190px;
    height: 254px;
    perspective: 1000px;
    position: absolute;
    right: 230px;
    top: 85px;
    
    
}

.title {
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
}

.innerCard {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    cursor: pointer;
}

.myCard:hover .innerCard {
    transform: rotateY(180deg);
}

.frontSide,
.backSide {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 1rem;
    color: white;
    box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);
    font-weight: 700;
}

.frontSide,
.frontSide::before {
      background-image: url(https://i.postimg.cc/TYWL7NrG/image5.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      
      
}

.backSide,
.backSide::before {
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

.backSide {
      transform: rotateY(180deg);
}

.frontSide::before,
.backSide::before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '';
    width: 110%;
    height: 110%;
    position: absolute;
    z-index: -1;
    border-radius: 1em;
    filter: blur(20px);
    animation: animate 2s linear infinite;
}

@keyframes animate {
    0% {
        opacity: 0.3;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0.3;
    }
}




.yCard {

    background-color: transparent;

    width: 190px;
    height: 254px;
    perspective: 1000px;
    position: absolute;
    right: 230px;
    top: 344px;
    
    
}


.nnerCard {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    cursor: pointer;
}

.yCard:hover .nnerCard {
    transform: rotateY(180deg);
}

.rontSide,
.ackSide {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 1rem;
    color: white;
    box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);
    font-weight: 700;
}

.rontSide,
.rontSide::before {
      background-image: url(https://i.postimg.cc/3Nzyr2QP/image4.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      
      
}

.ackSide,
.ackSide::before {
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

.ackSide {
      transform: rotateY(180deg);
}

.rontSide::before,
.ackSide::before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '';
    width: 110%;
    height: 110%;
    position: absolute;
    z-index: -1;
    border-radius: 1em;
    filter: blur(20px);
    animation: animate 2s linear infinite;
}

.Card {
    background-color: transparent;
    width: 190px;
    height: 254px;
    perspective: 1000px;
    position: absolute;
    right: 20px;
    top: 85px;
    
    
}


.nerCard {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    cursor: pointer;
}

.Card:hover .nerCard {
    transform: rotateY(180deg);
}

.ontSide,
.ckSide {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 1rem;
    color: white;
    box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);
    font-weight: 700;
}

.ontSide,
.ontSide::before {
      background-image: url(https://i.postimg.cc/XvxpGR0K/image6.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      
      
}

.ckSide,
.ckSide::before {
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

.ckSide {
      transform: rotateY(180deg);
}

.ontSide::before,
.ckSide::before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '';
    width: 110%;
    height: 110%;
    position: absolute;
    z-index: -1;
    border-radius: 1em;
    filter: blur(20px);
    animation: animate 2s linear infinite;
}


.ard {
    background-color: transparent;
    width: 190px;
    height: 254px;
    perspective: 1000px;
    position: absolute;
    right: 20px;
    top: 344px;
    
    
}


.erCard {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    cursor: pointer;
}

.ard:hover .erCard {
    transform: rotateY(180deg);
}

.ntSide,
.kSide {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 1rem;
    color: white;
    box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);
    font-weight: 700;
}

.ntSide,
.ntSide::before {
      background-image: url(https://i.postimg.cc/3RS46PSr/image3.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      
      
}

.kSide,
.kSide::before {
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

.kSide {
      transform: rotateY(180deg);
}

.ntSide::before,
.kSide::before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '';
    width: 110%;
    height: 110%;
    position: absolute;
    z-index: -1;
    border-radius: 1em;
    filter: blur(20px);
    animation: animate 2s linear infinite;
}

.rd {
    background-color: transparent;
    width: 190px;
    height: 254px;
    perspective: 1000px;
    position: absolute;
    right: 20px;
    top: 601px;
    
    
}


.rCard {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    cursor: pointer;
}

.rd:hover .rCard {
    transform: rotateY(180deg);
}

.tSide,
.Side {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 1rem;
    color: white;
    box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);
    font-weight: 700;
}

.tSide,
.tSide::before {
      background-image: url(https://i.postimg.cc/Th8vvrx2/image7.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      
      
}

.Side,
.Side::before {
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

.Side {
      transform: rotateY(180deg);
}

.tSide::before,
.Side::before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '';
    width: 110%;
    height: 110%;
    position: absolute;
    z-index: -1;
    border-radius: 1em;
    filter: blur(20px);
    animation: animate 2s linear infinite;
}



#rd {
    background-color: transparent;
    width: 190px;
    height: 254px;
    perspective: 1000px;
    position: absolute;
    right: 230px;
    top: 601px;
    
    
}


#rCard {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    cursor: pointer;
}

#rd:hover #rCard {
    transform: rotateY(180deg);
}

#tSide,
#Side {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 1rem;
    color: white;
    box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);
    font-weight: 700;
}

#tSide,
#tSide::before {
      background-image: url(https://i.postimg.cc/bJNSmzRF/image2.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      
      
}

#Side,
#Side::before {
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

#Side {
      transform: rotateY(180deg);
}

#tSide::before,
#Side::before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '';
    width: 110%;
    height: 110%;
    position: absolute;
    z-index: -1;
    border-radius: 1em;
    filter: blur(20px);
    animation: animate 2s linear infinite;
}



#myCard {

    background-color: transparent;

    width: 190px;
    height: 254px;
    perspective: 1000px;
    position: absolute;
    right: 230px;
    top: 860px;
    
    
}


#innerCard {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    cursor: pointer;
}

#myCard:hover #innerCard {
    transform: rotateY(180deg);
}

#frontSide,
#backSide {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 1rem;
    color: white;
    box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);
    font-weight: 700;
}

#frontSide,
#frontSide::before {
      background-image: url(https://i.postimg.cc/cJ1HzNT9/image8.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      
      
}

#backSide,
#backSide::before {
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

#backSide {
      transform: rotateY(180deg);
}

#frontSide::before,
#backSide::before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '';
    width: 110%;
    height: 110%;
    position: absolute;
    z-index: -1;
    border-radius: 1em;
    filter: blur(20px);
    animation: animate 2s linear infinite;
}


#yCard {



    background-color: transparent;

    width: 190px;
    height: 254px;
    perspective: 1000px;
    position: absolute;
    right: 20px;
    top: 860px;
    
    
}


#nnerCard {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    cursor: pointer;
}

#yCard:hover #nnerCard {
    transform: rotateY(180deg);
}

#rontSide,
#ackSide {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 1rem;
    color: white;
    box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);
    font-weight: 700;
}

#rontSide,
#rontSide::before {
      background-image: url(https://i.postimg.cc/RVr0BtXn/image9.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      
      
}

#ackSide,
#ackSide::before {
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

#ackSide {
      transform: rotateY(180deg);
}

#rontSide::before,
#ackSide::before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '';
    width: 110%;
    height: 110%;
    position: absolute;
    z-index: -1;
    border-radius: 1em;
    filter: blur(20px);
    animation: animate 2s linear infinite;
}


#Card {

    background-color: transparent;

    width: 190px;
    height: 254px;
    perspective: 1000px;
    position: absolute;
    right: 20px;
    top: 1118px;
    
    
}


#nerCard {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    cursor: pointer;
}

#Card:hover #nerCard {
    transform: rotateY(180deg);
}

#ontSide,
#ckSide {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 1rem;
    color: white;
    box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);
    font-weight: 700;
}

#ontSide,
#ontSide::before {
      background-image: url(https://i.postimg.cc/k5Wv0XKJ/image10.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      
      
}

#ckSide,
#ckSide::before {
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

#ckSide {
      transform: rotateY(180deg);
}

#ontSide::before,
#ckSide::before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '';
    width: 110%;
    height: 110%;
    position: absolute;
    z-index: -1;
    border-radius: 1em;
    filter: blur(20px);
    animation: animate 2s linear infinite;
}


#ard {
    background-color: transparent;
    width: 190px;
    height: 254px;
    perspective: 1000px;
    position: absolute;
    right: 230px;
    top: 1118px;
    
    
}


#erCard {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    cursor: pointer;
}

#ard:hover #erCard {
    transform: rotateY(180deg);
}

#ntSide,
#kSide {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 1rem;
    color: white;
    box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);
    font-weight: 700;
}

#ntSide,
#ntSide::before {
      background-image: url(https://i.postimg.cc/prLQ5f7r/image11.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      
      
}

#kSide,
#kSide::before {
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

#kSide {
      transform: rotateY(180deg);
}

#ntSide::before,
#kSide::before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '';
    width: 110%;
    height: 110%;
    position: absolute;
    z-index: -1;
    border-radius: 1em;
    filter: blur(20px);
    animation: animate 2s linear infinite;
}

#ce {
    background-color: transparent;
    width: 190px;
    height: 254px;
    perspective: 1000px;
    position: absolute;
    right: 230px;
    top: 1378px;
    
    
}


#ceCard {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    cursor: pointer;
}

#ce:hover #ceCard {
    transform: rotateY(180deg);
}

#ceSide,
#eSide {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 1rem;
    color: white;
    box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);
    font-weight: 700;
}

#ceSide,
#ceSide::before {
      background-image: url(https://i.postimg.cc/WbKmtJ7p/image12.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      
      
}

#eSide,
#eSide::before {
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

#eSide {
      transform: rotateY(180deg);
}

#ceSide::before,
#eSide::before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '';
    width: 110%;
    height: 110%;
    position: absolute;
    z-index: -1;
    border-radius: 1em;
    filter: blur(20px);
    animation: animate 2s linear infinite;
}


#beb {

    background-color: transparent;

    width: 190px;
    height: 254px;
    perspective: 1000px;
    position: absolute;
    right: 20px;
    top: 1378px;
    
    
}


#bebCard {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    cursor: pointer;
}

#beb:hover #bebCard {
    transform: rotateY(180deg);
}

#bebSide,
#beSide {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 1rem;
    color: white;
    box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);
    font-weight: 700;
}

#bebSide,
#bebSide::before {
      background-image: url(https://i.postimg.cc/c1hX1Hj6/image13.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      
      
}

#beSide,
#beSide::before {
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

#beSide {
      transform: rotateY(180deg);
}

#bebSide::before,
#beSide::before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '';
    width: 110%;
    height: 110%;
    position: absolute;
    z-index: -1;
    border-radius: 1em;
    filter: blur(20px);
    animation: animate 2s linear infinite;
}

.container{
  width: 100%;
  height: 100vh;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  height: 0px;
  width: 96%;
  bottom: 5vh;
  
  
}
nav{
  background: #FFFFFFE3;
  border-radius: 100px;
  padding: 1px;
  width: 77%;
  box-shadow: 0 5px 20px rgba(0,0,0,0.4);
  
  
  
} 

nav ul li{
  display: inline;
  list-style: none;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  color: #000000DE;
  border-radius: 100px;
  font-weight: 900;

  
}
nav ul li:after{
  content: '';
  width: 0;
  height: 3px;
  background: #7F0AFF;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
  border-radius: 100px;
}
nav ul li:hover::after{
  width:100%;
}

#btnRedirec{
  padding: 5px;
  
}

#btnRedirect{
  padding: 5px;
  
}

#btnRedire{
  padding: 5px;
  
}


#beb1 {
  background-color: transparent;
  width: 190px;
  height: 254px;
  perspective: 1000px;
  position: absolute;
  right: 20px;
  top: 1638px;


}


#bebCard1 {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  cursor: pointer;
}

#beb1:hover #bebCard1 {
  transform: rotateY(180deg);
}

#bebSide1,
#beSide1 {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
  color: white;
  box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);
  font-weight: 700;
}

#bebSide1,
#bebSide1::before {
  background-image: url(https://i.postimg.cc/gJY81yGs/image14.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;


}

#beSide1,
#beSide1::before {
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

#beSide1 {
  transform: rotateY(180deg);
}

#bebSide1::before,
#beSide1::before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: '';
  width: 110%;
  height: 110%;
  position: absolute;
  z-index: -1;
  border-radius: 1em;
  filter: blur(20px);
  animation: animate 2s linear infinite;
}


#beb2 {
  background-color: transparent;
  width: 190px;
  height: 254px;
  perspective: 1000px;
  position: absolute;
  right: 230px;
  top: 1638px;


}


#bebCard2 {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  cursor: pointer;
}

#beb2:hover #bebCard2 {
  transform: rotateY(180deg);
}

#bebSide2,
#beSide2 {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
  color: white;
  box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);
  font-weight: 700;
}

#bebSide2,
#bebSide2::before {
  background-image: url(https://i.postimg.cc/rmQxTdmk/image15.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;


}

#beSide2,
#beSide2::before {
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

#beSide2 {
  transform: rotateY(180deg);
}

#bebSide2::before,
#beSide2::before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: '';
  width: 110%;
  height: 110%;
  position: absolute;
  z-index: -1;
  border-radius: 1em;
  filter: blur(20px);
  animation: animate 2s linear infinite;
}





#beb3 {
  background-color: transparent;
  width: 190px;
  height: 254px;
  perspective: 1000px;
  position: absolute;
  right: 230px;
  top: 1900px;


}


#bebCard3 {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  cursor: pointer;
}

#beb3:hover #bebCard3 {
  transform: rotateY(180deg);
}

#bebSide3,
#beSide3 {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
  color: white;
  box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);
  font-weight: 700;
}

#bebSide3,
#bebSide3::before {
  background-image: url(https://i.postimg.cc/QCC5dX9W/image16.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;


}

#beSide3,
#beSide3::before {
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

#beSide3 {
  transform: rotateY(180deg);
}

#bebSide3::before,
#beSide3::before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: '';
  width: 110%;
  height: 110%;
  position: absolute;
  z-index: -1;
  border-radius: 1em;
  filter: blur(20px);
  animation: animate 2s linear infinite;
}




#beb4 {
  background-color: transparent;
  width: 190px;
  height: 254px;
  perspective: 1000px;
  position: absolute;
  right: 20px;
  top: 1900px;


}


#bebCard4 {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  cursor: pointer;
}

#beb4:hover #bebCard4 {
  transform: rotateY(180deg);
}

#bebSide4,
#beSide4 {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
  color: white;
  box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);
  font-weight: 700;
}

#bebSide4,
#bebSide4::before {
  background-image: url(https://i.postimg.cc/mZpC6FJ3/image17.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;


}

#beSide4,
#beSide4::before {
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

#beSide4 {
  transform: rotateY(180deg);
}

#bebSide4::before,
#beSide4::before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: '';
  width: 110%;
  height: 110%;
  position: absolute;
  z-index: -1;
  border-radius: 1em;
  filter: blur(20px);
  animation: animate 2s linear infinite;
}

#beb5 {
  background-color: transparent;
  width: 190px;
  height: 254px;
  perspective: 1000px;
  position: absolute;
  right: 20px;
  top: 2160px;


}


#bebCard5 {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  cursor: pointer;
}

#beb5:hover #bebCard5 {
  transform: rotateY(180deg);
}

#bebSide5,
#beSide5 {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
  color: white;
  box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);
  font-weight: 700;
}

#bebSide5,
#bebSide5::before {
  background-image: url(https://i.postimg.cc/4NrtXRJm/image18.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;


}

#beSide5,
#beSide5::before {
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

#beSide5 {
  transform: rotateY(180deg);
}

#bebSide5::before,
#beSide5::before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: '';
  width: 110%;
  height: 110%;
  position: absolute;
  z-index: -1;
  border-radius: 1em;
  filter: blur(20px);
  animation: animate 2s linear infinite;
}





#beb6 {
  background-color: transparent;
  width: 190px;
  height: 254px;
  perspective: 1000px;
  position: absolute;
  right: 230px;
  top: 2158px;


}


#bebCard6 {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  cursor: pointer;
}

#beb6:hover #bebCard6 {
  transform: rotateY(180deg);
}

#bebSide6,
#beSide6 {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
  color: white;
  box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);
  font-weight: 700;
}

#bebSide6,
#bebSide6::before {
  background-image: url(https://i.postimg.cc/mgC9DpDV/image19.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;


}

#beSide6,
#beSide6::before {
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

#beSide6 {
  transform: rotateY(180deg);
}

#bebSide6::before,
#beSide6::before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: '';
  width: 110%;
  height: 110%;
  position: absolute;
  z-index: -1;
  border-radius: 1em;
  filter: blur(20px);
  animation: animate 2s linear infinite;
}





#beb7 {
  background-color: transparent;
  width: 190px;
  height: 254px;
  perspective: 1000px;
  position: absolute;
  right: 230px;
  top: 2418px;


}


#bebCard7 {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  cursor: pointer;
}

#beb7:hover #bebCard7 {
  transform: rotateY(180deg);
}

#bebSide7,
#beSide7 {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
  color: white;
  box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);
  font-weight: 700;
}

#bebSide7,
#bebSide7::before {
  background-image: url(https://i.postimg.cc/rmzQWxKy/image20.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;


}

#beSide7,
#beSide7::before {
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

#beSide7 {
  transform: rotateY(180deg);
}

#bebSide7::before,
#beSide7::before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: '';
  width: 110%;
  height: 110%;
  position: absolute;
  z-index: -1;
  border-radius: 1em;
  filter: blur(20px);
  animation: animate 2s linear infinite;
}



#beb8 {
  background-color: transparent;
  width: 190px;
  height: 254px;
  perspective: 1000px;
  position: absolute;
  right: 20px;
  top: 2420px;
  
  
}


#bebCard8 {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  cursor: pointer;
}

#beb8:hover #bebCard8 {
  transform: rotateY(180deg);
}

#bebSide8,
#beSide8 {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
  color: white;
  box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);
  font-weight: 700;
}

#bebSide8,
#bebSide8::before {
  background-image: url(https://i.postimg.cc/MHQ53w7h/image21.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;


}

#beSide8,
#beSide8::before {
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

#beSide8 {
  transform: rotateY(180deg);
}

#bebSide8::before,
#beSide8::before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: '';
  width: 110%;
  height: 110%;
  position: absolute;
  z-index: -1;
  border-radius: 1em;
  filter: blur(20px);
  animation: animate 2s linear infinite;
}


#beb9 {
  background-color: transparent;
  width: 190px;
  height: 254px;
  perspective: 1000px;
  position: absolute;
  right: 230px;
  top: 2679px;


}


#bebCard9 {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  cursor: pointer;
}

#beb9:hover #bebCard9 {
  transform: rotateY(180deg);
}

#bebSide9,
#beSide9 {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
  color: white;
  box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);
  font-weight: 700;
}

#bebSide9,
#bebSide9::before {
  background-image: url(https://i.postimg.cc/gcCNXwdd/image22.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;


}

#beSide9,
#beSide9::before {
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

#beSide9 {
  transform: rotateY(180deg);
}

#bebSide9::before,
#beSide9::before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: '';
  width: 110%;
  height: 110%;
  position: absolute;
  z-index: -1;
  border-radius: 1em;
  filter: blur(20px);
  animation: animate 2s linear infinite;
}


#beb10 {
  background-color: transparent;
  width: 190px;
  height: 254px;
  perspective: 1000px;
  position: absolute;
  right: 20px;
  top: 2679px;


}


#bebCard10 {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  cursor: pointer;
}

#beb10:hover #bebCard10 {
  transform: rotateY(180deg);
}

#bebSide10,
#beSide10 {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
  color: white;
  box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);
  font-weight: 700;
}

#bebSide10,
#bebSide10::before {
  background-image: url(https://i.postimg.cc/15DMp95F/image23.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;


}

#beSide10,
#beSide10::before {
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

#beSide10 {
  transform: rotateY(180deg);
}

#bebSide10::before,
#beSide10::before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: '';
  width: 110%;
  height: 110%;
  position: absolute;
  z-index: -1;
  border-radius: 1em;
  filter: blur(20px);
  animation: animate 2s linear infinite;
}



#beb11 {
  background-color: transparent;
  width: 190px;
  height: 254px;
  perspective: 1000px;
  position: absolute;
  right: 20px;
  top: 2940px;


}


#bebCard11 {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  cursor: pointer;
}

#beb11:hover #bebCard11 {
  transform: rotateY(180deg);
}

#bebSide11,
#beSide11 {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
  color: white;
  box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);
  font-weight: 700;
}

#bebSide11,
#bebSide11::before {
  background-image: url(https://i.postimg.cc/8zHH0tvP/image24.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;


}

#beSide11,
#beSide11::before {
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

#beSide11 {
  transform: rotateY(180deg);
}

#bebSide11::before,
#beSide11::before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: '';
  width: 110%;
  height: 110%;
  position: absolute;
  z-index: -1;
  border-radius: 1em;
  filter: blur(20px);
  animation: animate 2s linear infinite;
}


#beb12 {
  background-color: transparent;
  width: 190px;
  height: 254px;
  perspective: 1000px;
  position: absolute;
  right: 230px;
  top: 2940px;


}


#bebCard12 {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  cursor: pointer;
}

#beb12:hover #bebCard12 {
  transform: rotateY(180deg);
}

#bebSide12,
#beSide12 {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
  color: white;
  box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);
  font-weight: 700;
}

#bebSide12,
#bebSide12::before {
  background-image: url(https://i.postimg.cc/DzwgkLQQ/image25.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;


}

#beSide12,
#beSide12::before {
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

#beSide12 {
  transform: rotateY(180deg);
}

#bebSide12::before,
#beSide12::before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: '';
  width: 110%;
  height: 110%;
  position: absolute;
  z-index: -1;
  border-radius: 1em;
  filter: blur(20px);
  animation: animate 2s linear infinite;
}


#beb13 {
  background-color: transparent;
  width: 190px;
  height: 254px;
  perspective: 1000px;
  position: absolute;
  right: 230px;
  top: 3203px;


}


#bebCard13 {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  cursor: pointer;
}

#beb13:hover #bebCard13 {
  transform: rotateY(180deg);
}

#bebSide13,
#beSide13 {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
  color: white;
  box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);
  font-weight: 700;
}

#bebSide13,
#bebSide13::before {
  background-image: url(https://i.postimg.cc/d17jDFxL/image26.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;


}

#beSide13,
#beSide13::before {
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

#beSide13 {
  transform: rotateY(180deg);
}

#bebSide13::before,
#beSide13::before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: '';
  width: 110%;
  height: 110%;
  position: absolute;
  z-index: -1;
  border-radius: 1em;
  filter: blur(20px);
  animation: animate 2s linear infinite;
}




#beb14 {
  background-color: transparent;
  width: 190px;
  height: 254px;
  perspective: 1000px;
  position: absolute;
  right: 20px;
  top: 3203px;


}


#bebCard14 {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  cursor: pointer;
}

#beb14:hover #bebCard14 {
  transform: rotateY(180deg);
}

#bebSide14,
#beSide14 {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
  color: white;
  box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);
  font-weight: 700;
}

#bebSide14,
#bebSide14::before {
  background-image: url(https://i.postimg.cc/rsxGCJcT/image27.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;


}

#beSide14,
#beSide14::before {
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

#beSide14 {
  transform: rotateY(180deg);
}

#bebSide14::before,
#beSide14::before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: '';
  width: 110%;
  height: 110%;
  position: absolute;
  z-index: -1;
  border-radius: 1em;
  filter: blur(20px);
  animation: animate 2s linear infinite;
}


#beb15 {
  background-color: transparent;
  width: 190px;
  height: 254px;
  perspective: 1000px;
  position: absolute;
  right: 230px;
  top: 3465px;


}


#bebCard15 {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  cursor: pointer;
}

#beb15:hover #bebCard15 {
  transform: rotateY(180deg);
}

#bebSide15,
#beSide15 {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
  color: white;
  box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);
  font-weight: 700;
}

#bebSide15,
#bebSide15::before {
  background-image: url(https://i.postimg.cc/28N7jPFS/image28.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;


}

#beSide15,
#beSide15::before {
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

#beSide15 {
  transform: rotateY(180deg);
}

#bebSide15::before,
#beSide15::before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: '';
  width: 110%;
  height: 110%;
  position: absolute;
  z-index: -1;
  border-radius: 1em;
  filter: blur(20px);
  animation: animate 2s linear infinite;
}

#beb16 {
  background-color: transparent;
  width: 190px;
  height: 254px;
  perspective: 1000px;
  position: absolute;
  right: 20px;
  top: 3465px;


}


#bebCard16 {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  cursor: pointer;
}

#beb16:hover #bebCard16 {
  transform: rotateY(180deg);
}

#bebSide16,
#beSide16 {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
  color: white;
  box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);
  font-weight: 700;
}

#bebSide16,
#bebSide16::before {
  background-image: url(https://i.postimg.cc/pL2QzzSN/image29.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;


}

#beSide16,
#beSide16::before {
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

#beSide16 {
  transform: rotateY(180deg);
}

#bebSide16::before,
#beSide16::before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: '';
  width: 110%;
  height: 110%;
  position: absolute;
  z-index: -1;
  border-radius: 1em;
  filter: blur(20px);
  animation: animate 2s linear infinite;
}


#beb17 {
  background-color: transparent;
  width: 190px;
  height: 254px;
  perspective: 1000px;
  position: absolute;
  right: 20px;
  top: 3727px;


}


#bebCard17 {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  cursor: pointer;
}

#beb17:hover #bebCard17 {
  transform: rotateY(180deg);
}

#bebSide17,
#beSide17 {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
  color: white;
  box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);
  font-weight: 700;
}

#bebSide17,
#bebSide17::before {
  background-image: url(https://i.postimg.cc/tgcFKf4y/image30.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;


}

#beSide17,
#beSide17::before {
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

#beSide17 {
  transform: rotateY(180deg);
}

#bebSide17::before,
#beSide17::before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: '';
  width: 110%;
  height: 110%;
  position: absolute;
  z-index: -1;
  border-radius: 1em;
  filter: blur(20px);
  animation: animate 2s linear infinite;
}


#beb18 {
  background-color: transparent;
  width: 190px;
  height: 254px;
  perspective: 1000px;
  position: absolute;
  right: 230px;
  top: 3727px;


}


#bebCard18 {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  cursor: pointer;
}

#beb18:hover #bebCard18 {
  transform: rotateY(180deg);
}

#bebSide18,
#beSide18 {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
  color: white;
  box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);
  font-weight: 700;
}

#bebSide18,
#bebSide18::before {
  background-image: url(https://i.postimg.cc/GtFYsmJh/image31.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;


}

#beSide18,
#beSide18::before {
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

#beSide18 {
  transform: rotateY(180deg);
}

#bebSide18::before,
#beSide18::before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: '';
  width: 110%;
  height: 110%;
  position: absolute;
  z-index: -1;
  border-radius: 1em;
  filter: blur(20px);
  animation: animate 2s linear infinite;
}


#beb19 {
  background-color: transparent;
  width: 190px;
  height: 254px;
  perspective: 1000px;
  position: absolute;
  right: 20px;
  top: 3988px;


}


#bebCard19 {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  cursor: pointer;
}

#beb19:hover #bebCard19 {
  transform: rotateY(180deg);
}

#bebSide19,
#beSide19 {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
  color: white;
  box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);
  font-weight: 700;
}

#bebSide19,
#bebSide19::before {
  background-image: url(https://i.postimg.cc/nVBqW3bb/image32.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;


}

#beSide19,
#beSide19::before {
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

#beSide19 {
  transform: rotateY(180deg);
}

#bebSide19::before,
#beSide19::before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: '';
  width: 110%;
  height: 110%;
  position: absolute;
  z-index: -1;
  border-radius: 1em;
  filter: blur(20px);
  animation: animate 2s linear infinite;
}



#beb20 {
  background-color: transparent;
  width: 190px;
  height: 254px;
  perspective: 1000px;
  position: absolute;
  right: 230px;
  top: 3988px;


}


#bebCard20 {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  cursor: pointer;
}

#beb20:hover #bebCard20 {
  transform: rotateY(180deg);
}

#bebSide20,
#beSide20 {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
  color: white;
  box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);
  font-weight: 700;
}

#bebSide20,
#bebSide20::before {
  background-image: url(https://i.postimg.cc/pLpTwdhh/image33.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;


}

#beSide20,
#beSide20::before {
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

#beSide20 {
  transform: rotateY(180deg);
}

#bebSide20::before,
#beSide20::before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: '';
  width: 110%;
  height: 110%;
  position: absolute;
  z-index: -1;
  border-radius: 1em;
  filter: blur(20px);
  animation: animate 2s linear infinite;
}



#beb21 {
  background-color: transparent;
  width: 190px;
  height: 254px;
  perspective: 1000px;
  position: absolute;
  right: 20px;
  top: 4248px;


}


#bebCard21 {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  cursor: pointer;
}

#beb21:hover #bebCard21 {
  transform: rotateY(180deg);
}

#bebSide21,
#beSide21 {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
  color: white;
  box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);
  font-weight: 700;
}

#bebSide21,
#bebSide21::before {
  background-image: url(https://i.postimg.cc/QM7MMnqj/image34.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;


}

#beSide21,
#beSide21::before {
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

#beSide21 {
  transform: rotateY(180deg);
}

#bebSide21::before,
#beSide21::before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: '';
  width: 110%;
  height: 110%;
  position: absolute;
  z-index: -1;
  border-radius: 1em;
  filter: blur(20px);
  animation: animate 2s linear infinite;
}

#beb22 {
  background-color: transparent;
  width: 190px;
  height: 254px;
  perspective: 1000px;
  position: absolute;
  right: 230px;
  top: 4248px;


}


#bebCard22 {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  cursor: pointer;
}

#beb22:hover #bebCard22 {
  transform: rotateY(180deg);
}

#bebSide22,
#beSide22 {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
  color: white;
  box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);
  font-weight: 700;
}

#bebSide22,
#bebSide22::before {
  background-image: url(https://i.postimg.cc/pTYXfh77/image35.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;


}

#beSide22,
#beSide22::before {
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

#beSide22 {
  transform: rotateY(180deg);
}

#bebSide22::before,
#beSide22::before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: '';
  width: 110%;
  height: 110%;
  position: absolute;
  z-index: -1;
  border-radius: 1em;
  filter: blur(20px);
  animation: animate 2s linear infinite;
}


#beb23 {
  background-color: transparent;
  width: 190px;
  height: 254px;
  perspective: 1000px;
  position: absolute;
  right: 230px;
  top: 4509px;


}


#bebCard23 {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  cursor: pointer;
}

#beb23:hover #bebCard23 {
  transform: rotateY(180deg);
}

#bebSide23,
#beSide23 {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
  color: white;
  box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);
  font-weight: 700;
}

#bebSide23,
#bebSide23::before {
  background-image: url(https://i.postimg.cc/XNLYX59B/image36.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;


}

#beSide23,
#beSide23::before {
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

#beSide23 {
  transform: rotateY(180deg);
}

#bebSide23::before,
#beSide23::before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: '';
  width: 110%;
  height: 110%;
  position: absolute;
  z-index: -1;
  border-radius: 1em;
  filter: blur(20px);
  animation: animate 2s linear infinite;
}



#beb24 {
  background-color: transparent;
  width: 190px;
  height: 254px;
  perspective: 1000px;
  position: absolute;
  right: 20px;
  top: 4509px;


}


#bebCard24 {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  cursor: pointer;
}

#beb24:hover #bebCard24 {
  transform: rotateY(180deg);
}

#bebSide24,
#beSide24 {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
  color: white;
  box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);
  font-weight: 700;
}

#bebSide24,
#bebSide24::before {
  background-image: url(https://i.postimg.cc/1RvyyQZp/image37.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;


}

#beSide24,
#beSide24::before {
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

#beSide24 {
  transform: rotateY(180deg);
}

#bebSide24::before,
#beSide24::before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: '';
  width: 110%;
  height: 110%;
  position: absolute;
  z-index: -1;
  border-radius: 1em;
  filter: blur(20px);
  animation: animate 2s linear infinite;
}


#beb25 {
  background-color: transparent;
  width: 190px;
  height: 254px;
  perspective: 1000px;
  position: absolute;
  right: 230px;
  top: 4770px;


}


#bebCard25 {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  cursor: pointer;
}

#beb25:hover #bebCard25 {
  transform: rotateY(180deg);
}

#bebSide25,
#beSide25 {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
  color: white;
  box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);
  font-weight: 700;
}

#bebSide25,
#bebSide25::before {
  background-image: url(https://i.postimg.cc/KvVFgDjj/image38.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;


}

#beSide25,
#beSide25::before {
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

#beSide25 {
  transform: rotateY(180deg);
}

#bebSide25::before,
#beSide25::before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: '';
  width: 110%;
  height: 110%;
  position: absolute;
  z-index: -1;
  border-radius: 1em;
  filter: blur(20px);
  animation: animate 2s linear infinite;
}